h1{
  color: #6B705C;
}
.wrap-cards {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin: 20px 20px 40px;
}

.wrap-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.futura {
  font-family: Futura, sans-serif;
}

.profile {
  background: rgba(255, 255, 255, 0.2); /* Прозрачен фон */
  backdrop-filter: blur(10px); /* Размазване */
  -webkit-backdrop-filter: blur(10px); /* Поддръжка за WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Гранична линия */
  border-radius: 10px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
  padding: 30px;
  margin: 20px;
  font-size: 35px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;

}

.fav {
  background-color: #FFE8D6;
  border-radius: 30px;
}

.pad {
  margin: 20px 20px 50px;
  text-decoration: none;
  color: #6B705C;
  background: rgba(255, 255, 255, 0.2); /* Прозрачен фон */
  backdrop-filter: blur(10px); /* Размазване */
  -webkit-backdrop-filter: blur(10px); /* Поддръжка за WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Гранична линия */
  border-radius: 10px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
  padding: 7px;
}
.pad:hover{
  cursor: pointer;
  color: #FFE8D6;
  transition: color 0.3s;
}

.title-fav {
  color: black;
  border-bottom: 3px solid #6B705C;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 10px;
}

.fav-no {
  margin: 20px;
  width: 69vw;
  text-align: center;
}

.div-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-data {
  color: #6B705C;
}


.commented-jokes-head {
  text-align: center;
  color: black;
  border-bottom: 3px solid #6B705C;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 30px;
}

.commented-jokes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
