<div class="wrap-main">
  <h1>{{ user.username }}'s account</h1>
  <div class="profile">
    <p><i class="fas fa-user"></i><span> Username:</span> {{ user.username }}</p>
    <p><i class="fas fa-envelope-open"></i><span> Email:</span> {{ user.email }}</p>
    <p><i class="far fa-address-book"></i><span> User ID:</span> {{ user.id }}</p>
    <p *ngIf="date !== 'Invalid date'"><i class="far fa-calendar-alt"></i><span> Date joined:</span> {{ date }}</p>
    <p><i class="fas fa-user-shield"></i><span>Roles:</span> {{ roles }}</p>
  </div>
  <div class="div-buttons">
    <a class="link pad" routerLink="/animal-add">Create Animal here <i class="fas fa-greater-than"></i></a>
    <a class="link pad" routerLink="/animal-find">Find Animals here <i class="fab fa-searchengin"></i></a>
  </div>
  <div class="wrap-commented-Animals">
    <p>Commented Animals by you</p>
    <section class="commented-Animals">
      <app-commented-animal *ngFor="let animal of commentedAnimals" [animal]="animal"></app-commented-animal>
    </section>
  </div>
  <div class="wrap-cards fav">
    <p>Favourites Animals</p>
    <div *ngFor="let animal of (favouritesAnimal | async) ?? []" class="fav-animal">
      <app-animal-fav
        [animal]="animal"
        [username]="username"
        [favouritesAnimal]="favouritesAnimal | async"
        (favouritesUpdated)="handleUpdatedFavourites($event)">
      </app-animal-fav>
    </div>
    <div *ngIf="favouritesAnimal.getValue().length === 0" >No favourite animals</div>
  </div>
</div>
