<div class="card">
  <h1>Find Animals</h1>

  <div class="most-liked" *ngIf="mostLiked.length; else notEnoughLikes">
    <p>Check the most liked Animal:</p>
    <ul class="ul-usernames">
      <li class="li-usernames best-animal" *ngFor="let animal of mostLiked">
        <a class="animal-read-link" [routerLink]="['/animal-read', animal.id]">
          {{ animal.name }}
        </a>
      </li>
    </ul>
  </div>
  <ng-template #notEnoughLikes>
    <p>Not enough likes</p>
  </ng-template>

  <section class="all-Animals">
    <a class="link-all" routerLink="/find-all">
      <i class="fas fa-list"></i> Here you can view all Animals
    </a>
  </section>

  <div class="search-keyword-wrap">
    <div class="div-search-keyword-wrap">
      <label class="label">Find by species:</label>
      <select
        class="species-dropdown"
        [(ngModel)]="selectedSpecies"
        (change)="getAnimalsBySpecies()"
      >
        <option value="" disabled>Select a species</option>
        <option *ngFor="let species of speciesOptions" [value]="species">
          {{ species }}
        </option>
      </select>
    </div>

    <div *ngIf="animals.length">
      <p class="p-fetch-usernames">Animals (name) from database</p>
      <ul class="ul-usernames">
        <li class="li-usernames" *ngFor="let animal of animals">
          <a
            class="animal-read-link"
            [routerLink]="['/animal-read', animal.id]"
          >
            {{ animal.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="lastThree">
    <h2 class="h2-three">
      Here you can see the last three added animals
    </h2>
    <app-last-thee-animals
      *ngFor="let animal of lastThreeAnimals"
      [animal]="animal"
    ></app-last-thee-animals>
  </div>
</div>
