<div class="div-c">
  <div class="flex">
    <div class="login-box">
      <h2>Register</h2>
      <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
        <div class="user-box">
          <input formControlName="username" />
          <label>Username</label>
          <!-- Username validation -->
          <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.hasError('required')" class="warning">
            Username is required!
          </div>
          <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.hasError('minlength')" class="warning">
            Username must be at least 5 characters long!
          </div>
        </div>
        <div class="user-box">
          <input formControlName="email" />
          <label>Email</label>
          <!-- Email validation -->
          <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')" class="warning">
            Email is required!
          </div>
          <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')" class="warning">
            Please enter a valid email address!
          </div>
        </div>
        <div class="user-box">
          <input formControlName="password" type="password" />
          <label>Password</label>
          <!-- Password validation -->
          <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')" class="warning">
            Password is required!
          </div>
          <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')" class="warning">
            Password must be at least 5 characters long!
          </div>
        </div>
        <div class="user-box">
          <input formControlName="repassword" type="password" />
          <label>Repeat password</label>
          <!-- Repeat password validation -->
          <div *ngIf="registerForm.get('repassword')?.touched && registerForm.get('repassword')?.hasError('required')" class="warning">
            Repeat password is required!
          </div>
          <div *ngIf="registerForm.get('repassword')?.touched && fieldsCheck?.notMatch" class="warning">
            Passwords don't match!
          </div>
        </div>
        <button type="submit" [disabled]="registerForm.invalid">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </button>
        <a routerLink="/login">Already member? Login here</a>
      </form>
    </div>

    <div class="errors">
      <div *ngIf="fieldsCheck.allFields" class="warning">Fill all fields!</div>
      <div *ngFor="let error of dbError" class="warning">
        {{ error }}
      </div>
    </div>
  </div>
</div>
