.animal-card{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2); /* Прозрачен фон */
  backdrop-filter: blur(10px); /* Размазване */
  -webkit-backdrop-filter: blur(10px); /* Поддръжка за WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Гранична линия */
  border-radius: 10px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
  padding: 10px;
}
p{
  margin: 3px;
}

.comment {
  color: #6B705C;
  font-weight: 300;
  margin: 10px 30px;
}

.modal-style-likes {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 20px;
  line-height: 1.5;
  border-radius: 30px;
  border: 3px solid black;
  width: fit-content;
}

.title-modal-likes {
  text-align: center;
  font-weight: bolder;
  border-bottom: 3px solid orange;
}

.hover-data:hover {
  cursor: pointer;
}

.animal-card-link{
  padding: 3px;
  margin: 2px;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: 0.5px solid #6B705C;
  background-color: #6B705C;
  border-radius: 12px;

}
.animal-card-link:hover{

  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;

}