
<div resetScroll>
  <h1>Adopt Animal</h1>
  <p *ngIf="isLogin" class="welcome">Welcome, {{ loggedInUserName }}!</p>

  <section class="main">
    <app-first></app-first>
    <app-second></app-second>
    <app-third></app-third>
  </section>

  <section class="three">
    <h2 class="h2-three">
      <i class="fas fa-long-arrow-alt-down"></i> Here can see last three added animals
      <i class="fas fa-long-arrow-alt-down"></i>
    </h2>
    <h2 *ngIf="!isLogin" class="h2-three">
      For more content <a class="home-login" [routerLink]="'/login'">login.</a>
    </h2>

    <app-last-three-animals *ngFor="let animal of lastThreeAnimals" [animal]="animal" [key]="animal.id"></app-last-three-animals>
  </section>
</div>