<div class="card">
  <h1>Edit Animal</h1>
  <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
    <div *ngIf="fieldsCheck.allFields" class="warnings-edit">
      Fill all fields!
    </div>
    <div *ngFor="let error of dbErrors" class="warnings-edit">
      {{ error }}
    </div>

    <div class="wrap">
      <label class="read-head">Name</label>
      <input class="inputPole" formControlName="name" />

      <label>Species:</label>
      <select class="animal-add-species" formControlName="species" required>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="others">Others</option>
      </select>

      <label class="read-head">Info</label>
      <textarea class="inputPole" formControlName="info"></textarea>

      <img [src]="animal.imageUrl" class="image" alt="picture-animal" />

      <div>
        <label class="add-img">
          <input
            type="file"
            (change)="onFileChange($event)"
            accept=".jpg,.jpeg,.png,.gif"
          />
          Change Image
        </label>
      </div>
      <button class="button-86" type="submit">Save changes</button>
      <app-animal-delete-modal class="button-57" [id]="animal.id"></app-animal-delete-modal>
    </div>
  </form>
</div>