
h1{
text-align: center;
color: #6B705C;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.2); /* Прозрачен фон */
  backdrop-filter: blur(10px); /* Размазване */
  -webkit-backdrop-filter: blur(10px); /* Поддръжка за WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Гранична линия */
  border-radius: 10px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
  border-radius: 60px;
  margin: 50px;
  padding: 20px;
}

.card label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
  color: #6B705C;
}
.animal-add-species{
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
  border: 0.5px solid #6B705C;

}

.inputPole{
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
  resize: none;
  border: 0.5px solid #6B705C;
}

.card .add-img input[type="file"] {
  display: none;
}
.card .add-img {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #6B705C;
  color: #fff;
  margin: 15px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}
.card .add-img:hover {
  background-color: #B7B7A4;
}
.button-86 {
  all: unset;
  width: 100px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #6B705C;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.button-57{
  background-color: transparent;
}
