<section class="main-section">
  <div class="info">
    <p class="name">
      <span class="property"><b>Name:</b></span> {{ animal?.name }}
    </p>
    <p>
      <span class="property"><b>Info:</b></span> {{ animal?.info }}
    </p>
    <p>
      <span class="property"><b>Created by:</b></span> {{ animal?.createdBy }}
    </p>
    <p>
      <span class="property"><b>Species:</b></span> {{ animal?.species }}
    </p>
    <p>
      <span class="property"><b>Date added:</b></span> {{ getFormattedDate(animal?.createdAt) }}
    </p>

    <button (click)="onDelete()" class="button-animal-edit">Remove Animal
    </button>
  </div>
</section>
