<section class="main-section">
  <div class="content">
    <img [src]="animal.imageUrl" class="image" alt="picture-animal"/>
    <p class="name">
      <span class="property">Name:</span> {{ animal?.name }}
    </p>
    <p>
      <span class="property">Info:</span> {{ animal?.info }}
    </p>
    <p>
      <span class="property">Created by:</span> {{ animal?.createdBy }}
    </p>
    <p>
      <span class="property">Species:</span> {{ animal?.species | lowercase }}
    </p>
    <p>
      <span class="property">Date added:</span> {{ animal?.createdAt?.split('T')[0] }}
    </p>
    <div class="button">
      <a [routerLink]="['/animal-read', animal?.id]" class="animal-card-link">View animal</a>
    </div>
  </div>
</section>
