.main-section {
  color: #6B705C;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.2); /* Прозрачен фон */
  backdrop-filter: blur(10px); /* Размазване */
  -webkit-backdrop-filter: blur(10px); /* Поддръжка за WebKit */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Гранична линия */
  border-radius: 10px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Лека сянка */
  display: flex;
  flex-direction: column;
  width: fit-content;
  word-break: break-all;
}

.property {
  font-size: 1.2em;
  font-weight: bold;
  min-width: 100%;
  line-height: 1.4;
}
.button {
  margin-top: 10px;
  text-align: center; /* Центрира съдържанието хоризонтално */
}


.animal-card-link {
  display: inline-block;
  text-decoration: none; 
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #6B705C;
  width: fit-content;
  color: black;
}

.animal-card-link:hover {
  background: #A5A58D;
  color: white;
  cursor: pointer;
}

.name {
  border-bottom: 1px solid #6B705C;
}

.content {
  margin: 20px;
}

.image {
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 500px;
}