<div class="login-box">
  <h2>Login</h2>
  <div *ngIf="userInfo.hasLoginFailed" class="warning">Invalid Credentials</div>
  <div *ngIf="fieldsCheck.allFields" class="warning">Fill all fields!</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <div class="user-box">
      <input type="text" formControlName="username" required />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" required />
      <label>Password</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
    <a routerLink="/register">Don't have an account? Register here</a>
  </form>
</div>
