<section class="main-section">
  <div class="content">
    <img [src]="animal.imageUrl" class="image" alt="picture-animal"/>
    <p class="title">
      <span class="property">Name:</span> {{ animal.name }}
    </p>
    <p>
      <span class="property">Info:</span> {{ animal.info }}
    </p>
    <p>
      <span class="property">Created by:</span> {{ animal.createdBy }}
    </p>
    <p>
      <span class="property">Species:</span> {{ animal.species }}
    </p>
    <p>
      <span class="property">Date added:</span> {{ formattedDate }}
    </p>
  </div>
  <div class="button">
    <button class="link" (click)="navigateToEdit()">Edit animal</button>
    <button class="link" (click)="navigateToView()">View animal</button>
  </div>

</section>
